/*====== Fonts ======*/
@import url(fonts.css);
/*====== Base settings ======*/

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.clear::after {
    content: " ";
    clear: both;
    display: table;
}
a,
button,
input{
	-moz-outline-style: none;
	outline-style: none;
}
a,
a:hover,
a:focus,
a:visited,
a:active{
	text-decoration: none;
}
.row{
	width: 100%;
}
.container{
	width: 80%;
	margin: 0 auto;
}
button{
	margin-top: 20px;
	width: auto;
	padding: 0 15px;
	height: 60px;
	font-family: 'GothamProBlack';
	font-size: 18px;
	background: #69f;
	border: 4px solid #69f;
	color: #fff;
	cursor: pointer;
}
button:hover{
	border-color: #337bff;
}
button:active{
	color: #000;
	background: #fff;
}
/*====== Nav bar ======*/

nav{
	position: fixed;

	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;

	text-align: right;
	transition: 0.4s;
}
.menu{
	margin-top: 20px;
	margin-right: 40px;
	list-style: none;
}
.menu li{
	display: inline-block;
	margin-left: 40px;
}
.menu li a{
	display: inline-block;

	border-bottom: 2px solid rgba(255, 255, 255, 0);
	font-family: 'GothamProBlack';
	color: #fff;
	font-size: 18px;
}
.menu li a:hover{
	color: #69f;
	border-bottom: 2px solid #69f;
}
nav.scrolled{
	background: #fff;
}
nav.scrolled a{
	color: #69f;
}
/*====== Header ======*/

.header{
	background: url("../img/header-bg.jpg") no-repeat center bottom;
	background-size: cover;
	position: relative;
	
	font-family: 'GothamProBlack';
	height: 100vh;
	width: 100%;
}

.scroll-arrow{
	position: absolute;

	bottom: 10px;
	left: 50%;
	height: 50px;
	width: 50px;
	padding-top: 13px;

	text-align: center;

	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);

	background: rgba(0, 0, 0, 0.4);
	border-radius: 50%;

	cursor: pointer;
}
.header-title{
	display: inline-block;

	padding-top: 200px;
	padding-left: 150px;

	font-family: 'GothamProRegular';
	color: #fff;
}
.header-title h1{
	border-bottom: 7px solid #fff;
	font-size: 112px;
}
.header-title h4{
	margin-top: 10px;
	font-size: 24px;

	text-align: right;
}

.scroll-arrow i{
	font-size: 24px;
	color: #fff;
	transition: 0.2s;
}
.scroll-arrow:hover i{
	color: #69f;
	padding-top: 4px;
}

/*====== About us ======*/

.about-title{
	text-align: center;
	margin-top: 100px;
	font-size: 48px;
	font-family: 'GothamProBold';
}
.about-title+h3{
	font-size: 20px;
	font-family: 'GothamProRegular';
	text-align: center;
}
.about-card{
	width: 80%;
	margin: 80px auto;
	font-family: 'GothamProRegular';
}
.about-card:nth-of-type(2n) .about-text,
.about-card:nth-of-type(2n-1) .about-logo{
	float: right;
}{
	float: right;
}
.about-card:nth-of-type(2n-1) .about-text,
.about-card:nth-of-type(2n) .about-logo{
	float: left;
}
.about-logo{
	width: 30%;
	height: 30%;
}
.about-text{
	width: 50%;
	font-size: 24px;
	text-align: center;
}

/*====== Learn more ======*/
#learn_more{
	width: 100%;
	height: 100px;
	background: #efefef;
}
.learn-more-text{
	display: inline-block;
	float: left;
	width: 60%;
	padding-top: 50px;
	text-align: center;
	font-family: 'GothamProRegular';
}
.learn-more-button{
	display: inline-block;
	float: right;
	width: 40%;
	text-align: center;
}

/*====== Contact us ======*/

.contact-us-title{
	margin-top: 40px;
	text-align: center;
	font-size: 48px;
	font-family: 'GothamProBold';
}
.contacts{
	padding-top: 50px;
	padding-bottom: 100px;
}
.contact-item{
	display: inline-block;
	width: 33%;
	text-align: center;
	font-size: 22px;
	font-family: 'GothamProRegular';
}
.contact-item i{
	font-size: 36px;
	transform: translateY(10%);
}
.contact-item a{
	color: black;
}
/*====== Footer ======*/
footer{
	width: 100%;
	height: 80px;
	background: #69f;
	text-align: center;
}
.social-media{
	height: 40px;
	width: 40px;
	display: inline-block;
	padding-top: 8px;
	margin: 20px;
	cursor: pointer;
	background: rgba(255,255,255,0.4);
	text-align: center;
	font-size: 24px;
	border-radius: 50%;
}
.facebook{
	color: #3e5c9a;
}
.twitter{
	color: #1da1f2;
}
.pinterest{
	color: #bd081c;
}