/*====== Шрифты ======*/
@font-face {
  font-family: 'GeorgiaRegular';
  src: url('GeorgiaRegular.eot');
  src: url('GeorgiaRegular.eot') format('embedded-opentype'), url('GeorgiaRegular.woff2') format('woff2'), url('GeorgiaRegular.woff') format('woff'), url('GeorgiaRegular.ttf') format('truetype'), url('GeorgiaRegular.svg#GeorgiaRegular') format('svg');
}
@font-face {
  font-family: 'georgiab';
  src: url('georgiab.eot');
  src: url('georgiab.eot') format('embedded-opentype'), url('georgiab.woff2') format('woff2'), url('georgiab.woff') format('woff'), url('georgiab.ttf') format('truetype'), url('georgiab.svg#georgiab') format('svg');
}
@font-face {
  font-family: 'ptserif';
  src: url('ptserif.eot');
  src: url('ptserif.eot') format('embedded-opentype'), url('ptserif.woff2') format('woff2'), url('ptserif.woff') format('woff'), url('ptserif.ttf') format('truetype'), url('ptserif.svg#ptserif') format('svg');
}
@font-face {
  font-family: 'Lobster_1_4';
  src: url('Lobster_1_4.eot');
  src: url('Lobster_1_4.eot') format('embedded-opentype'), url('Lobster_1_4.woff2') format('woff2'), url('Lobster_1_4.woff') format('woff'), url('Lobster_1_4.ttf') format('truetype'), url('Lobster_1_4.svg#Lobster_1_4') format('svg');
}
@font-face {
  font-family: 'opensans';
  src: url('opensans.eot');
  src: url('opensans.eot') format('embedded-opentype'), url('opensans.woff2') format('woff2'), url('opensans.woff') format('woff'), url('opensans.ttf') format('truetype'), url('opensans.svg#opensans') format('svg');
}
.ptserif {
  font-family: 'ptserif';
}
.georgia {
  font-family: 'GeorgiaRegular';
}
.georgia-bold {
  font-family: 'georgiab';
}
.lobster {
  font-family: 'Lobster_1_4';
}
.hidden {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.half {
  width: 50%;
}
/*====== Preloader ======*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
  background: url(http://robinmastromarino.com/images/generics/loader-hd.gif) center no-repeat;
  background-color: #110f11;
}
.preloader .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  font-size: 50px;
  color: #efefef;
  font-family: 'impact';
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.preloader.done {
  opacity: 0;
  visibility: hidden;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/*====== Базовые настройки ======*/
body {
  overflow-x: hidden;
}
* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #fff;
}
.hidden {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.half {
  width: 50%;
}
a,
button,
input {
  -moz-outline-style: none;
  outline-style: none;
}
button {
  cursor: pointer;
}
button {
  border: none;
}
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}
/*====== Навбар ======*/
.small-nav {
  z-index: 90;
  width: 100%;
  background: #efefef;
}
.small-nav .hamburger {
  position: relative;
  z-index: 100;
  float: right;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding-top: 12px;
}
.small-nav .hamburger:hover {
  background: #abb88e;
}
.small-nav .hamburger span {
  width: 20px;
  height: 3px;
  background: #000;
  margin: 4px auto;
  border-radius: 2px;
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.small-nav .hamburger ~ .menu {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
}
.small-nav .hamburger ~ .menu .sidebar {
  width: 200px;
  height: 100vh;
  background: #abb88e;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.small-nav .hamburger ~ .menu .sidebar ul {
  padding-top: 50px;
  list-style: none;
  font-family: 'GeorgiaRegular';
  font-size: 24px;
}
.small-nav .is-active {
  background: #abb88e;
}
.small-nav .is-active span:nth-child(2) {
  opacity: 0;
}
.small-nav .is-active span:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}
.small-nav .is-active span:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -o-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}
.small-nav .is-active ~ .menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  transform: translateX(-200px);
}
/*====== Шапка ======*/
header {
  font-family: 'GeorgiaRegular';
  text-align: center;
  font-size: 42px;
  padding-top: 40vh;
}
.div-for-one-button {
  width: 100%;
  padding-top: 50px;
  text-align: center;
}
.div-for-one-button .butt {
  width: 200px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'GeorgiaRegular';
  font-size: 18px;
  background: #fde858;
  border-radius: 6px;
  border-bottom: 3px solid #d1b044;
}
.div-for-one-button .butt:active {
  border-top: 2px solid #ffffff;
  border-bottom: 1px solid #d1b044;
}
.add-butt-wrapper {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 70px;
  height: 100px;
  width: 100px;
  text-align: center;
  border-radius: 18px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.add-butt-wrapper::before {
  content: '';
  background: #fff;
  z-index: 10;
  height: 32px;
  width: 8px;
  position: absolute;
  top: 34px;
  left: 46px;
  border-radius: 5px;
}
.add-butt-wrapper::after {
  content: '';
  background: #fff;
  z-index: 10;
  height: 8px;
  width: 32px;
  position: absolute;
  top: 46px;
  left: 34px;
  border-radius: 5px;
}
.add-butt-wrapper:hover {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.add-butt-wrapper:hover > a {
  -webkit-animation: add-butt-hover 0.8s ease;
  animation: add-butt-hover 0.8s ease;
  margin: 5px;
  border-radius: 22px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-transition-delay: .45s;
  -o-transition-delay: .45s;
  transition-delay: .45s;
}
.add-butt-wrapper:hover > a > i {
  -webkit-animation: add-butt-icons 0.8s linear;
  animation: add-butt-icons 0.8s linear;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: #ffffff;
}
.add-butt {
  display: inline-block;
  float: left;
  height: 50px;
  width: 50px;
  padding-top: 15px;
  background: #11b7c1;
  color: #fff;
  text-align: center;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.add-butt:nth-child(1) {
  position: absolute;
  right: 50%;
  bottom: 50%;
  border-radius: 15px 0 0 0;
}
.add-butt:nth-child(2) {
  position: absolute;
  left: 50%;
  bottom: 50%;
  border-radius: 0 15px 0 0;
}
.add-butt:nth-child(3) {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 0 0 15px 0;
}
.add-butt:nth-child(4) {
  position: absolute;
  right: 50%;
  top: 50%;
  border-radius: 0 0 0 15px;
}
.add-butt > i {
  color: rgba(255, 255, 255, 0);
}
@keyframes add-butt-hover {
  from {
    height: 50px;
    width: 50px;
  }
  60% {
    height: 30px;
    width: 30px;
  }
  75% {
    height: 52px;
    width: 52px;
    margin: 7px;
  }
  to {
    height: 50px;
    width: 50px;
    margin: 5px;
  }
}
@-webkit-keyframes add-butt-icons {
  from {
    color: rgba(255, 255, 255, 0);
  }
  60% {
    color: rgba(255, 255, 255, 0);
  }
  to {
    color: #ffffff;
  }
}
@keyframes add-butt-icons {
  from {
    color: rgba(255, 255, 255, 0);
  }
  60% {
    color: rgba(255, 255, 255, 0);
  }
  to {
    color: #ffffff;
  }
}
/*====== Webkit for ======*/
@-webkit-keyframes add-butt-hover {
  from {
    height: 50px;
    width: 50px;
  }
  60% {
    height: 30px;
    width: 30px;
  }
  75% {
    height: 52px;
    width: 52px;
    margin: 7px;
  }
  to {
    height: 50px;
    width: 50px;
    margin: 5px;
  }
}
@keyframes add-butt-icons {
  from {
    color: rgba(255, 255, 255, 0);
  }
  60% {
    color: rgba(255, 255, 255, 0);
  }
  to {
    color: #ffffff;
  }
}
/*======== Адаптив ========*/
