/*Адаптив*/
@media(min-width: 0px) and (max-width: 320px) {
  .scrollToTop{
    bottom: 20px;
    right: 10px;
  }
  .headline{
    padding-top: 50px;
  }
  .about-article{
    padding-left: 10px;
    padding-right: 10px;
  }
  .services .card .icon{
    top: -60px;
    left: 10px;
  }
  .service-text{
    width: 70%;
  }
  .service-text br{
    display: none;
  }
  .gallery-card{
    padding: 0;
  }
  .gallery-card img{
    width: 100%;
  }
  .gallery-card .wrapper{
    top: 0;
    left: 0;
  }
  .contact{
    padding-bottom: 20px;
  }
  .contact{
    padding-bottom: 20px;
    padding-left: 10px;
  }
  .contact-label{
    padding-left: 5px;
    font-size: 13px;
  }
  #map{
    height: 250px;
  }
  footer{
    text-align: center;
  }
  footer .row>*{
    padding-bottom: 20px;
  }
  .privacy{
    text-align: center;
  }
}
@media(min-width:321px) and (max-width:480px) {
  .scrollToTop{
    bottom: 40px;
    right: 25px;
  }  
  .headline{
    padding-top: 70px;
  }
  .about-article{
    padding-left: 10px;
    padding-right: 10px;
  }
  .services .card .icon{
    left: 10px;
  }
  .service-text{
    width: 70%;
  }
  .service-text br{
    display: none;
  }
  section#subscribe{
    text-align: center;
  }
  .gallery-card{
    padding: 0;
  }
  .gallery-card img{
    width: 100%;
  }
  .gallery-card .wrapper{
    top: 0;
    left: 0;
  }
  .contact{
    padding-bottom: 20px;
    padding-left: 20px;
  }
  #map{
    height: 250px;
  }
  footer{
    text-align: center;
  }
  footer .row>*{
    padding-bottom: 20px;
  }
  .privacy{
    text-align: center;
  }
}  
@media(min-width:481px) and (max-width:768px) {
  .scrollToTop{
    bottom: 40px;
    right: 25px;
  }  
  .headline{
    padding-top: 70px;
  }
  .about-article{
    padding-left: 10px;
    padding-right: 10px;
  }
  .services .card .icon{
    left: 10px;
  }
  .service-text{
    width: 70%;
  }
  .service-text br{
    display: none;
  }
  section#subscribe{
    text-align: center;
  }
  .gallery-card img{
    width: 100%;
  }
  .gallery-card .wrapper{
    top: 0;
    left: 0;
  }
  .contact{
    padding-bottom: 20px;
    padding-left: 10px;
  }
  .contact-label{
    padding-left: 5px;
    font-size: 13px;
  }
  #map{
    height: 250px;
  }
  footer{
    text-align: center;
  }
  footer .row>*{
    padding-bottom: 20px;
  }
  .privacy{
    text-align: center;
  }
}
@media(min-width:769px) and (max-width:992px) {
  .scrollToTop{
    bottom: 40px;
    right: 25px;
  }  
  .headline{
    padding-top: 70px;
  }
  .about-article{
    padding-left: 10px;
    padding-right: 10px;
  }
  .services .card .icon{
    left: 10px;
  }
  .service-text{
    width: 70%;
  }
  .service-text br{
    display: none;
  }
  section#subscribe{
    text-align: center;
  }
  .contact{
    padding-bottom: 20px;
    padding-left: 10px;
  }
  .contact-label{
    padding-left: 5px;
    font-size: 13px;
  }
  #map{
    height: 250px;
  }
  footer{
    text-align: center;
  }
  footer .row>*{
    padding-bottom: 20px;
  }
}
@media(min-width:993px) and (max-width:1200px) {
}  