/*====== Шрифты ======*/
@font-face {
  font-family: 'GeorgiaRegular';
  src: url('fonts/GeorgiaRegular.eot');
  src: url('fonts/GeorgiaRegular.eot') format('embedded-opentype'), url('fonts/GeorgiaRegular.woff2') format('woff2'), url('fonts/GeorgiaRegular.woff') format('woff'), url('fonts/GeorgiaRegular.ttf') format('truetype'), url('fonts/GeorgiaRegular.svg#GeorgiaRegular') format('svg');
}
@font-face {
  font-family: 'georgiab';
  src: url('fonts/georgiab.eot');
  src: url('fonts/georgiab.eot') format('embedded-opentype'), url('fonts/georgiab.woff2') format('woff2'), url('fonts/georgiab.woff') format('woff'), url('fonts/georgiab.ttf') format('truetype'), url('fonts/georgiab.svg#georgiab') format('svg');
}
@font-face {
  font-family: 'ptserif';
  src: url('fonts/ptserif.eot');
  src: url('fonts/ptserif.eot') format('embedded-opentype'), url('fonts/ptserif.woff2') format('woff2'), url('fonts/ptserif.woff') format('woff'), url('fonts/ptserif.ttf') format('truetype'), url('fonts/ptserif.svg#ptserif') format('svg');
}
@font-face {
  font-family: 'Lobster_1_4';
  src: url('fonts/Lobster_1_4.eot');
  src: url('fonts/Lobster_1_4.eot') format('embedded-opentype'), url('fonts/Lobster_1_4.woff2') format('woff2'), url('fonts/Lobster_1_4.woff') format('woff'), url('fonts/Lobster_1_4.ttf') format('truetype'), url('fonts/Lobster_1_4.svg#Lobster_1_4') format('svg');
}
@font-face {
  font-family: 'opensans';
  src: url('fonts/opensans.eot');
  src: url('fonts/opensans.eot') format('embedded-opentype'), url('fonts/opensans.woff2') format('woff2'), url('fonts/opensans.woff') format('woff'), url('fonts/opensans.ttf') format('truetype'), url('fonts/opensans.svg#opensans') format('svg');
}
.ptserif {
  font-family: 'ptserif';
}
.georgia {
  font-family: 'GeorgiaRegular';
}
.georgia-bold {
  font-family: 'georgiab';
}
.lobster {
  font-family: 'Lobster_1_4';
}
.hidden {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.half {
  width: 50%;
}
/*====== Preloader ======*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
  background: url(http://robinmastromarino.com/images/generics/loader-hd.gif) center no-repeat;
  background-color: #110f11;
}
.preloader .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  font-size: 50px;
  color: #efefef;
  font-family: 'impact';
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.preloader.done {
  opacity: 0;
  visibility: hidden;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/*====== Базовые настройки ======*/
body {
  overflow-x: hidden;
}
* {
  margin: 0;
}
a,
button,
input {
  -moz-outline-style: none;
  outline-style: none;
}
button {
  cursor: pointer;
}
button:active {
  color: #fff;
  background: rgba(255, 255, 255, 0);
}
button {
  background: #abe35c;
  background: -webkit-gradient(linear, left bottom, left top, from(#9ad456), to(#bff267));
  background: -webkit-linear-gradient(bottom, #9ad456, #bff267);
  background: -o-linear-gradient(bottom, #9ad456, #bff267);
  background: linear-gradient(to top, #9ad456, #bff267);
  -webkit-box-shadow: 0px 2px 10px 1px;
  box-shadow: 0px 2px 10px 1px;
  font-family: 'GeorgiaRegular';
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 0.3px;
  padding: 17px 50px 16px 50px;
  border-radius: 20px;
  border: 2px solid #abe35c;
}
button:hover {
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}
.container {
  padding: 0;
}
/*====== Шапка ======*/
nav {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(24, 45, 17, 0.6);
  z-index: 100;
}
nav * {
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.nav-large {
  height: 140px;
}
.nav-large .logo img {
  padding-top: 13px;
  padding-left: 7px;
}
.nav-large .menu-buttons {
  text-align: center;
}
.nav-large .menu-buttons ul {
  margin-right: 220px;
}
.nav-large .menu-buttons ul li {
  margin-top: 54px;
  display: inline-block;
  font-family: 'GeorgiaRegular';
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 40px;
}
.nav-large .menu-buttons ul li a {
  color: #fff;
  letter-spacing: 0.1px;
  display: inline-block;
}
.nav-large .menu-buttons ul li a:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.nav-large .menu-buttons .nav-tel {
  font-family: 'ptserif';
  position: absolute;
  top: 23px;
  right: 30px;
  text-align: right;
  display: inline-block;
  color: #fff;
  font-size: 27px;
  line-height: 1.7;
}
.nav.scroll {
  background: #fff;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  background-color: #fff;
  height: 100px;
}
.nav.scroll * {
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.nav.scroll img {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  padding: 0;
  margin-top: -5px;
}
.nav.scroll .menu-buttons ul {
  margin-right: 0px;
}
.nav.scroll .menu-buttons ul li {
  margin-top: 33px;
}
.nav.scroll .menu-buttons ul li a {
  color: #abe35c;
}
.nav.scroll .menu-buttons ul li a:hover {
  border-bottom: 2px solid #abe35c;
}
.nav.scroll .nav-tel {
  display: none;
}
.nav-small {
  height: 70px;
  display: none;
}
.nav-small .logo img {
  height: 60px;
  margin-top: 5px;
  margin-left: 5px;
}
.nav-small .dropdown-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
}
.nav-small .dropdown-toggle i {
  font-size: 24px;
}
.nav-small .dropdown-menu {
  position: absolute;
  top: 68px;
  left: -100px;
  border-radius: 0px;
  border: none;
}
.nav-small .dropdown-menu a {
  font-family: 'GeorgiaRegular';
  text-transform: uppercase;
  color: #abe35c;
  margin-bottom: 10px;
  border-bottom: 2px solid #fff;
}
.nav-small .dropdown-menu a:hover {
  color: #abe35c;
  border-bottom: 2px solid #abe35c;
}
.scroll-small {
  background-color: #fff;
}
.scroll-small .dropdown-toggle {
  color: #fff;
}
/*====== Header ======*/
header {
  height: 100vh;
  width: 100wh;
  position: relative;
  text-align: right;
}
header .wrapper {
  height: 100%;
  overflow: hidden;
  padding-right: 20px;
  z-index: -20;
}
header .wrapper h1 {
  margin: 0;
  font-family: 'georgiab';
  color: #fff;
  text-transform: uppercase;
  padding-top: 30vh;
  font-size: 90px;
  letter-spacing: 3px;
  line-height: 1.15;
}
header .wrapper h2 {
  font-family: 'GeorgiaRegular';
  color: #fff;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-top: 10px;
}
header .scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -25px;
  border: 2px solid #fff;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  background-clip: border-box;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 1.25em;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
header .scroll-down:hover {
  color: #abe35c;
  border-color: #abe35c;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/*Content part*/
section#about {
  font-family: 'GeorgiaRegular';
  background-color: #efefef;
}
section#about #about-left h2 {
  padding-top: 70px;
  padding-left: 6px;
  font-size: 50px;
  letter-spacing: 1.7px;
}
section#about #about-left h2 span {
  color: #abe35c;
}
section#about #about-left h4 {
  font-family: 'ptserif';
  font-size: 16px;
  color: #636363;
  padding-top: 20px;
  padding-left: 5px;
  letter-spacing: 0.65px;
  line-height: 1.85;
}
section#about #about-right h1 {
  padding-top: 90px;
  text-align: right;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1.2px;
}
section#about #about-right h1 span {
  color: #abe35c;
}
section#about #about-right h1:before {
  content: "----------------";
  letter-spacing: -3px;
  padding-right: 22px;
}
section#about #about-right .about-card {
  margin-top: 35px;
  margin-bottom: 95px;
  background: url(../img/about-bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 10px;
  height: 165px;
}
section#about #about-right .about-card .about-card-inner {
  background-color: #efefef;
  font-family: 'georgiab';
  margin: auto auto;
  padding-top: 10px;
  padding-left: 25px;
  height: 100%;
  width: 100%;
  font-size: 31px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  line-height: 1.5;
}
section#about #about-right .about-card .about-card-inner span {
  font-size: 40px;
}
/*Nature*/
section#nature {
  /*background: url(../img/nature-bg.jpg) no-repeat center center;*/
  background-size: cover;
  color: white;
}
section#nature h1 {
  padding-top: 90px;
  font-family: 'georgiab';
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 3px;
  line-height: 1.33;
}
section#nature h4 {
  margin: 0;
  padding-top: 10px;
  font-family: 'ptserif';
  font-size: 24px;
  letter-spacing: 1.1px;
  line-height: 1.4;
  padding-bottom: 100px;
}
/*Services*/
/*section#services{
	background-color: #efefef;
	.georgia;
	.service-head{
		border-bottom: 2px solid #636363;
	}
	h1{
		padding-top: 67px;
		padding-bottom: 63px;
		font-size: 58px;
		text-transform: uppercase;
		letter-spacing: 1.8px;
	}
	a{
		display: inline-block;
		margin-top: 95px;
		margin-right: 10px;
		margin-bottom: 50px;
		float: right;
		font-size: 18px;
		color: black;
		padding: 10px 14px 10px 14px;
		border: 1px solid #b6ee75;
		border-radius: 70px;
		&:hover{
			background-color: #b6ee75;
		}
		&:last-child{
			margin-right: 10px;
		}
	}
	.cards{
		margin-top: 70px;
	}
	.cards-2{
		margin-top: 70px;
		padding-bottom: 105px;
	}
	.card{
		.service-img{
			float: left;
			width: 130px;
			img{	
				margin-left: 5px;
				margin-top: 50px;
			}
		}
		.service-text{
			display: inline-block;
			h2{
				text-transform: uppercase;
				font-size: 36px;
				margin-top: 12px;
				letter-spacing: 0.7px;
			}
			h4{
				padding-top: 23px;
				padding-left: 3px;
				font-size: 16px;
				letter-spacing: 0.3px;
				line-height: 1.5;
			}
		}
	}
	.card-2{
		margin-left: 50px;
	}
}
*/
section#services__anim {
  background: #efefef;
}
section#services__anim h1 {
  font-family: 'GeorgiaRegular';
  padding-top: 67px;
  padding-bottom: 63px;
  font-size: 58px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  display: inline-block;
}
section#services__anim input {
  display: none;
  position: absolute;
}
section#services__anim label {
  margin-top: 90px;
  margin-left: 3px;
  font-size: 18px;
  color: black;
  padding: 10px 14px 10px 14px;
  border: 1px solid #b6ee75;
  border-radius: 70px;
  display: inline-block;
  float: right;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
section#services__anim label:hover {
  background-color: #b6ee75;
}
section#services__anim input:checked + label {
  background: #b6ee75;
}
section#services__anim section {
  min-height: 640px;
  display: none;
  margin: 0 0 5px;
  line-height: 1.5;
  color: #383838;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
section#services__anim section .col-md-3 {
  padding-top: 40px;
  height: 300px;
}
section#services__anim section .col-md-6 {
  padding-top: 20px;
  height: 300px;
}
section#services__anim #tab1:checked ~ #content-tab1,
section#services__anim #tab2:checked ~ #content-tab2,
section#services__anim #tab3:checked ~ #content-tab3 {
  display: block;
}
section#services__anim #tab3:checked ~ input#tab2 + label {
  background: #b6ee75;
}
section#services__anim .small-icon {
  text-align: center;
  cursor: pointer;
}
section#services__anim .small-icon img {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 50%;
  padding: 10px;
}
section#services__anim .small-icon h2 {
  font-family: 'GeorgiaRegular';
  text-transform: uppercase;
  font-size: 28px;
}
section#services__anim .small-icon:hover img {
  background: #dadada;
  border-radius: 20px;
}
section#services__anim .service-detailed {
  border-radius: 20px;
}
section#services__anim .service-detailed .service-img {
  float: left;
  width: 130px;
}
section#services__anim .service-detailed .service-img img {
  width: 120px;
  margin-left: 5px;
  margin-top: 40px;
}
section#services__anim .service-detailed .service-text {
  margin-left: 20px;
  display: inline-block;
  font-family: 'GeorgiaRegular';
}
section#services__anim .service-detailed .service-text h2 {
  text-transform: uppercase;
  font-size: 36px;
  margin-top: 34px;
  letter-spacing: 0.7px;
}
section#services__anim .service-detailed .service-text h4 {
  padding-top: 12px;
  padding-left: 3px;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.5;
}
section#services__anim .button_back {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-family: 'ptserif';
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -150px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #b6ee75;
  border-radius: 10px;
}
section#services__anim .button_back:hover {
  background: #b6ee75;
  background: -webkit-gradient(linear, left bottom, left top, from(#9ad456), to(#bff267));
  background: -webkit-linear-gradient(bottom, #9ad456, #bff267);
  background: -o-linear-gradient(bottom, #9ad456, #bff267);
  background: linear-gradient(to top, #9ad456, #bff267);
}
section#services__anim .button_back:active {
  color: #fff;
}
section#services__anim .arrow {
  position: absolute;
  top: 40%;
  font-size: 24px;
  margin-top: -12px;
  cursor: pointer;
}
section#services__anim .arrow:hover {
  color: #abe35c;
}
section#services__anim .arrow:active {
  color: #fff;
}
section#services__anim .arrow_right {
  right: 0;
}
section#services__anim .arrow_left {
  left: 0;
}
/*Learn more*/
section#learn-more {
  /*background: url(../img/learnmore-bg.jpg) no-repeat center center;*/
  height: 250px;
  padding-top: 70px;
}
section#learn-more h1 {
  padding-left: 5px;
  color: #fff;
  font-family: 'GeorgiaRegular';
  font-size: 60px;
  letter-spacing: 1px;
}
section#learn-more h1 span {
  color: #abe35c;
}
section#learn-more button {
  margin-top: 20px;
}
section#gallery {
  font-family: 'GeorgiaRegular';
  background-color: #efefef;
  padding-bottom: 30px;
}
section#gallery .gallery-head h1 {
  margin-top: 80px;
  text-transform: uppercase;
  font-size: 58px;
  color: #535353;
}
section#gallery .gallery-head h4 {
  font-size: 20px;
  margin-top: -10px;
  margin-bottom: 50px;
  line-height: 1.4;
}
section#gallery .gallery {
  padding-bottom: 70px;
}
.gallery-more {
  position: absolute;
  height: 450px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: -450px;
  text-align: center;
}
.gallery-more h4 {
  font-family: 'GeorgiaRegular';
  text-align: left;
  font-size: 24px;
  position: absolute;
  bottom: 235px;
  left: 15%;
  color: #fff;
}
.gallery-more a {
  position: absolute;
  bottom: 155px;
  left: 0;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  padding: 10px 20px 10px 20px;
  font-family: 'GeorgiaRegular';
  text-transform: uppercase;
  font-size: 24px;
  color: #fff;
  border: 2px solid #abe35c;
  border-radius: 20px;
}
.gallery-more a:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#9ad456), to(#bff267));
  background: -webkit-linear-gradient(bottom, #9ad456, #bff267);
  background: -o-linear-gradient(bottom, #9ad456, #bff267);
  background: linear-gradient(to top, #9ad456, #bff267);
  color: #000;
}
.gallery-more a:active {
  color: #fff;
}
.gallery-card {
  margin-top: 40px;
  position: relative;
  height: 450px;
  overflow: hidden;
}
.gallery-card img {
  height: 100%;
  width: auto;
}
.photo-annot {
  position: absolute;
  bottom: 0;
  background: #efefef;
  width: 100%;
}
.gallery-card:hover .photo-annot {
  bottom: -100px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.gallery-card:hover .gallery-more {
  top: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
/*callback*/
section#callback {
  background: url(../img/contactus-bg.jpg) no-repeat center center;
}
section#callback .callback-form {
  margin-top: 140px;
  margin-bottom: 100px;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding-top: 50px;
}
section#callback .callback-form h1 {
  font-family: 'GeorgiaRegular';
  font-size: 46px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-bottom: 40px;
}
section#callback .callback-form h1 span {
  color: #abe35c;
}
section#callback .callback-form form {
  color: #c9c9c9;
  margin-left: 30px;
  padding-left: 10%;
}
section#callback .callback-form form input,
section#callback .callback-form form textarea {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  font-size: 20px;
  outline: none;
  padding: 15px;
  width: 80%;
}
section#callback .callback-form form input {
  margin-bottom: 30px;
}
section#callback .callback-form form textarea {
  height: 150px;
  resize: none;
}
section#callback .callback-form form input#send {
  background: #abe35c;
  background: -webkit-gradient(linear, left bottom, left top, from(#9ad456), to(#bff267));
  background: -webkit-linear-gradient(bottom, #9ad456, #bff267);
  background: -o-linear-gradient(bottom, #9ad456, #bff267);
  background: linear-gradient(to top, #9ad456, #bff267);
  margin-top: 25px;
  margin-left: 10%;
  margin-bottom: 50px;
  color: #000;
  border: 2px solid #abe35c;
  font-family: 'GeorgiaRegular';
  font-size: 22px;
  letter-spacing: 0.3px;
  width: 60%;
  border-radius: 20px;
}
section#callback .callback-form form input#send:hover {
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
section#callback .callback-form form input#send:active {
  background: rgba(255, 255, 255, 0);
}
section#contacts {
  background: #efefef;
}
section#contacts h1 {
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: 'GeorgiaRegular';
  text-transform: uppercase;
  font-size: 58px;
  text-align: center;
}
section#contacts .contacts-info {
  padding-bottom: 100px;
}
section#contacts .contacts-info a,
section#contacts .contacts-info h3 {
  font-family: 'ptserif';
  font-size: 20px;
  color: #434343;
}
section#contacts .contacts-info a {
  text-decoration: underline;
}
/*====== Футер ======*/
footer {
  background: url(../img/footer-bg.jpg) no-repeat center center;
}
footer .footer-logo {
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .footer-logo img {
  height: 120px;
}
footer .useful {
  font-family: 'ptserif';
}
footer .useful h3 {
  margin-top: 50px;
  color: #fff;
  font-size: 24px;
}
footer .useful a {
  color: #c4c4c4;
  font-size: 14px;
}
footer .footer-search {
  font-family: 'ptserif';
}
footer .footer-search h3 {
  margin-top: 50px;
  color: #fff;
  font-size: 24px;
}
footer .footer-search form {
  border: 2px solid #abe35c;
  border-radius: 15px;
  padding: 10px;
  width: 200px;
}
footer .footer-search form input {
  background: none;
  border: none;
}
footer .footer-search form a i {
  font-size: 18px;
  color: #fff;
}
/*===== Фотогалерея=====*/
section.album {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
section.album .fotorama {
  margin-top: 5%;
}
section.album .close {
  color: #fff;
}
section.album a.more {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-family: 'georgiab';
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 15px 5px 15px 5px;
}
section.album a.more:hover {
  color: #3b5998;
  background: #fff;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
/* Описываем анимацию свойства opacity */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*======== Адаптив ========*/
@media (min-width: 0px) and (max-width: 320px) {
  .nav-large {
    display: none;
  }
  .nav-small {
    display: inline-block;
  }
  .map {
    display: none;
  }
  header .wrapper {
    padding-right: 18px;
    height: auto;
  }
  header .wrapper h1 {
    padding-top: 100px;
    font-size: 44px;
  }
  header .wrapper h2 {
    font-size: 22px;
  }
  header .wrapper button {
    margin-bottom: 50px;
    font-size: 16px;
    padding: 15px 40px 15px 40px;
  }
  header .wrapper a {
    display: none;
  }
  section#about #about-left h2 {
    padding-top: 10px;
    font-size: 36px;
  }
  section#about #about-left h4 {
    line-height: 1.4;
  }
  section#about #about-left h4 br {
    display: none;
  }
  section#about #about-right {
    display: none;
  }
  section#nature h1 {
    padding-top: 40px;
    font-size: 36px;
    line-height: 1;
  }
  section#nature h1 br {
    display: none;
  }
  section#nature h4 {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.4px;
    padding-bottom: 50px;
  }
  section#nature h4 br {
    display: none;
  }
  #services__anim {
    display: none;
  }
  section#learn-more {
    height: 180px;
    padding-top: 10px;
    text-align: center;
  }
  section#learn-more h1 {
    font-size: 24px;
  }
  section#learn-more button {
    font-size: 14px;
    margin-left: 0;
    margin-bottom: 0;
  }
  section#gallery .gallery-head {
    padding-left: 10px;
  }
  section#gallery .gallery-head h1 {
    font-size: 24px;
  }
  section#gallery .gallery-head h4 {
    font-size: 18px;
  }
  section#gallery .gallery-head h4 br {
    display: none;
  }
  section#gallery .gallery-more,
  section#gallery .gallery-card {
    height: 300px;
  }
  section#gallery .gallery-more h4,
  section#gallery .gallery-card h4,
  section#gallery .gallery-more a,
  section#gallery .gallery-card a,
  section#gallery .gallery-more h3,
  section#gallery .gallery-card h3 {
    font-size: 18px;
  }
  section#callback .callback-form {
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 50px;
    padding-top: 10px;
  }
  section#callback .callback-form h1 {
    font-size: 32px;
    padding-bottom: 20px;
  }
  section#callback .callback-form form {
    padding-left: 0;
  }
  section#callback .callback-form form input,
  section#callback .callback-form form textarea {
    width: 90%;
  }
  section#callback .callback-form form input {
    margin-bottom: 15px;
  }
  section#callback .callback-form form input#send {
    margin-left: 0;
    width: 90%;
  }
  section#contacts h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
  }
  section#contacts .contacts-info h3,
  section#contacts .contacts-info a {
    font-size: 18px;
  }
  footer .footer-logo {
    display: none;
  }
  footer .useful {
    text-align: center;
    padding-bottom: 40px;
  }
  footer .useful br {
    display: none;
  }
  footer .useful h3,
  footer .useful a {
    margin-left: 5px;
  }
  footer .footer-search {
    text-align: center;
    margin-bottom: 40px;
  }
  footer .footer-search h3 {
    margin-top: 0;
  }
  footer .footer-search form {
    margin: 0 auto;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  .nav-large {
    display: none;
  }
  .nav-small {
    display: inline-block;
  }
  .nav-small .dropdown-menu {
    left: -80px;
  }
  .map {
    display: none;
  }
  header .wrapper {
    height: auto;
    padding-right: 18px;
  }
  header .wrapper h1 {
    padding-top: 100px;
    font-size: 44px;
  }
  header .wrapper h2 {
    font-size: 22px;
  }
  header .wrapper button {
    margin-bottom: 50px;
    font-size: 16px;
    padding: 15px 40px 15px 40px;
  }
  header .wrapper a {
    display: none;
  }
  section#about #about-left h2 {
    padding-top: 10px;
    font-size: 36px;
  }
  section#about #about-left h4 {
    line-height: 1.4;
  }
  section#about #about-left h4 br {
    display: none;
  }
  section#about #about-right {
    display: none;
  }
  section#nature h1 {
    padding-top: 40px;
    font-size: 36px;
    line-height: 1;
  }
  section#nature h1 br {
    display: none;
  }
  section#nature h4 {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.4px;
    padding-bottom: 50px;
  }
  section#nature h4 br {
    display: none;
  }
  #services__anim {
    display: none;
  }
  section#learn-more {
    height: 180px;
    padding-top: 10px;
    text-align: center;
  }
  section#learn-more h1 {
    font-size: 24px;
  }
  section#learn-more button {
    font-size: 14px;
    margin-left: 0;
    margin-bottom: 0;
  }
  section#gallery .gallery-head {
    padding-left: 10px;
  }
  section#gallery .gallery-head h1 {
    font-size: 24px;
  }
  section#gallery .gallery-head h4 {
    font-size: 18px;
  }
  section#gallery .gallery-head h4 br {
    display: none;
  }
  section#callback .callback-form {
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 50px;
    padding-top: 10px;
  }
  section#callback .callback-form h1 {
    font-size: 32px;
    padding-bottom: 20px;
  }
  section#callback .callback-form form {
    padding-left: 0;
  }
  section#callback .callback-form form input,
  section#callback .callback-form form textarea {
    width: 90%;
  }
  section#callback .callback-form form input {
    margin-bottom: 15px;
  }
  section#callback .callback-form form input#send {
    margin-left: 0;
    width: 90%;
  }
  section#contacts h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
  }
  section#contacts .contacts-info h3,
  section#contacts .contacts-info a {
    font-size: 18px;
  }
  section#contacts .map {
    display: none;
  }
  footer .footer-logo {
    display: none;
  }
  footer .useful {
    text-align: center;
    padding-bottom: 40px;
  }
  footer .useful br {
    display: none;
  }
  footer .useful h3,
  footer .useful a {
    margin-left: 5px;
  }
  footer .footer-search {
    text-align: center;
    margin-bottom: 40px;
  }
  footer .footer-search h3 {
    margin-top: 0;
  }
  footer .footer-search form {
    margin: 0 auto;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .nav-large {
    display: none;
  }
  .nav-small {
    display: inline-block;
  }
  .nav-small .dropdown-menu a {
    font-size: 24px;
  }
  header .wrapper h1 {
    padding-top: 160px;
    font-size: 64px;
  }
  header .wrapper h2 {
    font-size: 30px;
  }
  header .wrapper button {
    margin-bottom: 120px;
  }
  section#about #about-left h2 {
    padding-top: 50px;
    font-size: 32px;
  }
  section#about #about-left h4 {
    letter-spacing: 0.2px;
    line-height: 1.4;
    padding-bottom: 50px;
  }
  section#about #about-left h4 br {
    display: none;
  }
  section#about #about-right {
    display: none;
  }
  section#nature h1 {
    padding-top: 60px;
    font-size: 24px;
  }
  section#nature h4 {
    padding-bottom: 70px;
  }
  #services__anim {
    display: none;
  }
  section#learn-more {
    height: 180px;
    padding-top: 40px;
  }
  section#learn-more h1 {
    font-size: 40px;
  }
  section#learn-more button {
    margin-top: 18px;
    margin-bottom: 0;
    font-size: 18px;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  section#learn-more {
    height: 180px;
    padding-top: 10px;
    text-align: center;
  }
  section#learn-more h1 {
    font-size: 36px;
  }
  section#learn-more button {
    font-size: 18px;
    margin-left: 0;
  }
  section#gallery .gallery-head {
    padding-left: 10px;
  }
  section#gallery .gallery-card img {
    width: 100%;
    height: auto;
  }
  section#callback .callback-form {
    margin: 70px 40px 50px 40px;
    padding-top: 10px;
  }
  section#callback .callback-form h1 {
    font-size: 32px;
    padding-bottom: 20px;
  }
  section#callback .callback-form form {
    margin: 0 auto;
  }
  section#callback .callback-form form input,
  section#callback .callback-form form textarea {
    width: 90%;
  }
  section#callback .callback-form form input {
    margin-bottom: 15px;
  }
  section#callback .callback-form form input#send {
    margin-left: 0;
    width: 90%;
  }
  section#contacts h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
  }
  section#contacts .contacts-info h3,
  section#contacts .contacts-info a {
    font-size: 18px;
  }
  footer .footer-logo {
    display: none;
  }
  footer .useful {
    text-align: center;
    padding-bottom: 40px;
  }
  footer .useful br {
    display: none;
  }
  footer .useful h3,
  footer .useful a {
    margin-left: 5px;
  }
  footer .footer-search {
    text-align: center;
    margin-bottom: 40px;
  }
  footer .footer-search h3 {
    margin-top: 0;
  }
  footer .footer-search form {
    margin: 0 auto;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .nav-large {
    display: none;
  }
  .nav-small {
    display: inline-block;
  }
  .nav-small .dropdown-menu a {
    font-size: 24px;
  }
  header .wrapper h1 {
    padding-top: 160px;
    font-size: 64px;
  }
  header .wrapper h2 {
    font-size: 30px;
  }
  header .wrapper button {
    margin-bottom: 120px;
  }
  section#about #about-left h2 {
    padding-top: 50px;
    font-size: 32px;
  }
  section#about #about-left h4 {
    letter-spacing: 0.2px;
    line-height: 1.4;
  }
  section#about #about-left h4 br {
    display: none;
  }
  section#about #about-right h1 {
    padding-top: 55px;
    font-size: 19px;
  }
  section#about #about-right .about-card {
    height: 150px;
    margin-bottom: 10px;
  }
  section#about #about-right .about-card .about-card-inner {
    font-size: 18px;
  }
  section#nature h1 {
    padding-top: 60px;
    font-size: 24px;
  }
  section#nature h4 {
    padding-bottom: 70px;
  }
  #services__anim {
    display: none;
  }
  section#learn-more {
    height: 180px;
    padding-top: 40px;
  }
  section#learn-more h1 {
    font-size: 40px;
  }
  section#learn-more button {
    margin-top: 18px;
    margin-bottom: 0;
    font-size: 18px;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  section#learn-more {
    height: 120px;
    padding-top: 10px;
    text-align: center;
  }
  section#learn-more h1 {
    font-size: 36px;
  }
  section#learn-more button {
    font-size: 18px;
    margin-left: 0;
  }
  section#gallery .gallery-head {
    padding-left: 10px;
  }
  section#gallery .gallery-card img {
    width: 100%;
    height: auto;
  }
  section#callback .callback-form {
    margin: 70px 40px 50px 40px;
    padding-top: 10px;
  }
  section#callback .callback-form h1 {
    font-size: 32px;
    padding-bottom: 20px;
  }
  section#callback .callback-form form {
    margin: 0 auto;
  }
  section#callback .callback-form form input,
  section#callback .callback-form form textarea {
    width: 90%;
  }
  section#callback .callback-form form input {
    margin-bottom: 15px;
  }
  section#callback .callback-form form input#send {
    margin-left: 0;
    width: 90%;
  }
  section#contacts h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
  }
  section#contacts .contacts-info h3,
  section#contacts .contacts-info a {
    font-size: 18px;
  }
  section#contacts .map {
    
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .nav-large .menu-buttons ul li:last-child {
    display: none;
  }
  section#about #about-right .about-card .about-card-inner {
    font-size: 24px;
  }
  section#learn-more h1 {
    font-size: 44px;
  }
  section#gallery .gallery-more,
  section#gallery .gallery-card {
    height: 300px;
  }
  section#gallery .gallery-more h4,
  section#gallery .gallery-card h4,
  section#gallery .gallery-more a,
  section#gallery .gallery-card a,
  section#gallery .gallery-more h3,
  section#gallery .gallery-card h3 {
    font-size: 18px;
  }
}
