/*====== Шрифты ======*/
@font-face {
  font-family: 'GothamProBold';
  src: url('fonts/GothamProBold.eot');
  src: url('fonts/GothamProBold.eot') format('embedded-opentype'), url('fonts/GothamProBold.woff2') format('woff2'), url('fonts/GothamProBold.woff') format('woff'), url('fonts/GothamProBold.ttf') format('truetype'), url('fonts/GothamProBold.svg#GothamProBold') format('svg');
}
@font-face {
  font-family: 'GothamProRegular';
  src: url('fonts/GothamProRegular.eot');
  src: url('fonts/GothamProRegular.eot') format('embedded-opentype'), url('fonts/GothamProRegular.woff2') format('woff2'), url('fonts/GothamProRegular.woff') format('woff'), url('fonts/GothamProRegular.ttf') format('truetype'), url('fonts/GothamProRegular.svg#GothamProRegular') format('svg');
}
@font-face {
  font-family: 'GothamProBlack';
  src: url('fonts/GothamProBlack.eot');
  src: url('fonts/GothamProBlack.eot') format('embedded-opentype'), url('fonts/GothamProBlack.woff2') format('woff2'), url('fonts/GothamProBlack.woff') format('woff'), url('fonts/GothamProBlack.ttf') format('truetype'), url('fonts/GothamProBlack.svg#GothamProBlack') format('svg');
}
.bold {
  font-family: 'GothamProBold';
}
.regular {
  font-family: 'GothamProRegular';
}
.black {
  font-family: 'GothamProBlack';
}
/*====== Preloader ======*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
  background-color: #fff;
}
.preloader .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.preloader.done {
  opacity: 0;
  visibility: hidden;
}
/*====== Базовые настройки ======*/
body {
  overflow-x: hidden;
}
* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.half {
  width: 50%;
}
.fixed {
  position: fixed;
}
a,
button,
input {
  -moz-outline-style: none;
  outline-style: none;
}
button {
  cursor: pointer;
}
button {
  border: none;
}
a {
  color: inherit;
}
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
ul li {
  display: inline-block;
}
/*====== Навбар ======*/
.nav-bg {
  position: fixed;
  width: 100%;
  height: 8vh;
  background: #009AC7;
}
nav {
  z-index: 10;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
}
nav .wrapper {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
nav .wrapper .logo {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  top: 5vh;
  left: 10%;
  display: inline-block;
  font-size: 3vh;
  font-family: 'GothamProRegular';
  text-transform: uppercase;
  letter-spacing: 6.78%;
}
nav .wrapper .menu {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  top: 5vh;
  right: 10%;
  width: 30%;
  display: inline-block;
}
nav .wrapper .menu li {
  font-family: 'GothamProBold';
  font-size: 2.3vh;
  margin-right: 3%;
}
nav .wrapper .menu li a {
  cursor: pointer;
  display: inline-block;
}
nav .wrapper.white {
  color: #fff;
  top: 0;
  z-index: 9;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
nav .wrapper.white.isScrolled div,
nav .wrapper.white.isScrolled ul {
  top: 3vh;
}
nav .wrapper.white li:before {
  content: '';
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 15%;
  top: 0;
  left: 5%;
  overflow: hidden;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
nav .wrapper.white .current:before {
  background: #004990;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  transtion: 0.2s;
}
/*====== Main ======*/
section#first_block {
  overflow: hidden;
  z-index: 7;
  position: relative;
  top: 0;
  left: 0;
  height: 200vh;
}
section#first_block .sign_scroll {
  position: fixed;
  top: 46vh;
  right: 0;
  z-index: 4;
  font-family: 'GothamProBlack';
  font-size: 1.5vh;
  letter-spacing: 3vh;
  color: #fff;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
section#main_page {
  -webkit-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
section#main_page .main_logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-55%, -50%);
  -ms-transform: translate(-55%, -50%);
  transform: translate(-55%, -50%);
  height: 70vh;
  width: 70vh;
}
section#main_page .main_banner {
  width: 70%;
  float: right;
  text-transform: uppercase;
}
section#main_page .main_banner .first_line {
  display: inline-block;
  position: relative;
  top: 30vh;
  font-family: 'GothamProBold';
  font-size: 14vh;
  line-height: 14vh;
}
section#main_page .main_banner .first_line:after {
  content: '';
  position: absolute;
  bottom: 10%;
  right: -5%;
  height: 3vh;
  width: 3vh;
  background: #00B3E7;
  border-radius: 50%;
}
section#main_page .main_banner .second_line {
  position: absolute;
  top: 44vh;
  width: 100%;
  height: 7vh;
  color: #fff;
  background: #00B3E7;
  font-family: 'GothamProBold';
  font-size: 7vh;
  line-height: 5.5vh;
  padding-bottom: 1vh;
  padding-left: 1%;
}
section#main_page .main_banner .second_line:after {
  content: '';
  width: 10%;
  height: 0.6vh;
  position: absolute;
  top: 3vh;
  margin-left: 3%;
  background: #fff;
}
section#main_page .main_banner .third_line {
  font-family: 'GothamProBold';
  position: absolute;
  top: 51vh;
  font-size: 6vh;
}
section#main_page .social {
  position: absolute;
  bottom: 20px;
  right: 0;
}
section#main_page .social ul li {
  margin-right: 102px;
}
section#main_page .social ul li .fb {
  color: #004990;
}
section#main_page .social ul li .inst {
  color: #DB4D45;
}
section#main_page .social ul li .mail {
  color: #508EF2;
}
section#main_page .social ul li a {
  font-size: 15px;
  letter-spacing: 19px;
}
section#about {
  -webkit-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background: #00B3E7;
}
section#about .about_us_shadow {
  position: absolute;
  font-family: 'GothamProBold';
  font-size: 45vh;
  color: rgba(0, 73, 144, 0.1);
  left: 10%;
  top: -11vh;
}
section#about .about_us {
  position: absolute;
  top: 17vh;
  left: 10%;
  font-family: 'GothamProRegular';
  font-size: 20vh;
  color: #fff;
  letter-spacing: 1.7vw;
}
section#about .scroll_line {
  position: absolute;
  top: 44vh;
  width: 54%;
  height: 7vh;
  background: #fff;
  border-top-right-radius: 3.5vh;
  padding-right: 5%;
  padding-top: 2vh;
}
section#about .scroll_line_vertical {
  overflow: hidden;
  position: absolute;
  top: 51vh;
  right: 46%;
  width: 7vh;
  height: 49vh;
  background: #fff;
  padding-top: 10vh;
}
section#about .scroll_line_vertical .sign_scroll_vert {
  position: absolute;
  top: 0;
  right: 45%;
  font-family: 'GothamProBlack';
  font-size: 1.5vh;
  line-height: 3.2vh;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
section#about .about_cards {
  position: relative;
  display: inline-block;
  top: 53vh;
  width: 49%;
}
section#about .about_cards .about_card h3 {
  font-family: 'GothamProBold';
  font-size: 3vh;
  color: #004180;
}
section#about .about_cards .about_card .about_card_text {
  font-family: 'GothamProRegular';
  font-size: 1.7vh;
  color: #fff;
}
section#about .left_block {
  float: left;
  padding-left: 5%;
}
section#about .right_block {
  float: right;
  padding-left: 10%;
}
section#second_block {
  width: 100%;
  height: 200vh;
  background: #abb88e;
}
/*======== Адаптив ========*/
@media (min-width: 0px) and (max-width: 1280px) {
  section#main_page .main_banner .second_line {
    font-size: 6.2vh;
  }
  section#main_page .main_banner .second_line:after {
    width: 5%;
  }
}
