@import "fonts/fonts.less";

/*====== Preloader ======*/
.preloader{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 300;
	transition: 1s all;
	opacity: 1;
	visibility: visible;
	background-color: #fff;

	.loader{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 200px;
		height: 200px;
		text-align: center;
		transform: translate(-50%, -50%);
	}

	&.done{
		opacity: 0;
		visibility: hidden;
	}
}




/*====== Базовые настройки ======*/
body{ 
	overflow-x: hidden; 
}
*{
	margin: 0;
	box-sizing: border-box;
}

.hidden{
	display: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.half{
	width: 50%;
}
.fixed{
	position: fixed;
}
a,
button,
input{
	-moz-outline-style: none;
	outline-style: none;
}
button{
	cursor: pointer;
}
button{
	border: none;
}
a{
	color: inherit;
}
a,
a:hover,
a:focus,
a:visited,
a:active{
	text-decoration: none;
	color: inherit;
}
ul{
	list-style: none;
	li{
		display: inline-block;
	}
}

/*====== Навбар ======*/
.nav-bg{
	position: fixed;
	width: 100%;
	height: 8vh;
	background: #009AC7;
}
nav{
	z-index: 10;
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 10vh;
	.wrapper{
		z-index: 10;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 10vh;
		transition: 1s;
		.logo{
			transition: 0.2s;
			position: absolute;
			top: 5vh;
			left: 10%;
			display: inline-block;
			font-size: 3vh;
			.regular;
			text-transform: uppercase;
			letter-spacing: 6.78%;
		}
		.menu{
			transition: 0.2s;
			position: absolute;
			top: 5vh;
			right: 10%;
			width: 30%;
			display: inline-block;
			li{
				.bold;
				font-size: 2.3vh;
				margin-right: 3%;
				a{
					cursor: pointer;
					display: inline-block;
				}
			}
		}
	}
	.wrapper.white{
		color: #fff;
		top: 0;
		z-index: 9;
		transition: 0.2s;
		&.isScrolled{
			div,ul{
				top: 3vh;
			}
		}
		li:before{
			content: '';
			z-index: -1;
			position: absolute;
			height: 100%;
			width: 15%;
			top: 0;
			left: 5%;
			overflow: hidden;
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
			-webkit-transition: 0.2s;
			transition: 0.2s;
		}
		.current:before{
			background: #004990;
			transform: translateX(0);
			transtion: 0.2s;
		}
	}
}
/*====== Main ======*/

section#first_block{
	overflow: hidden;

	z-index: 7;
	position: relative;
	top: 0;
	left: 0;
	height: 200vh;
	.sign_scroll{
		position: fixed;
		top: 46vh;
		right: 0;
		z-index: 4;
		
		.black;
		font-size: 1.5vh;
		letter-spacing: 3vh;
		color: #fff;

		transition: 1s;
	}
}

section#main_page{
	transition: left 1s;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	.main_logo{
		position: absolute;
		top: 50%;
		transform: translate(-55%, -50%);
		height: 70vh;
		width: 70vh;
	}
	.main_banner{
		width: 70%;
		float: right;
		text-transform: uppercase;
		.first_line{
			display: inline-block;
			position: relative;
			top: 30vh;
			.bold;
			font-size: 14vh;
			line-height: 14vh;
			&:after{
				content: '';
				position: absolute;
				bottom: 10%;
				right: -5%;
				height: 3vh;
				width: 3vh;
				background: #00B3E7;
				border-radius: 50%;
			}
		}
		.second_line{
			position: absolute;
			top: 46vh;
			width: 100%;
			height: 7vh;
			color: #00b3e7;
			.bold;
			font-size: 7vh;
			line-height: 5.5vh;
			padding-bottom: 1vh;
			padding-left: 1%;
			h3{
				display: inline-block;
				line-height: 3.5vh;
				vertical-align: top;
				padding-bottom: 1.2vh;
				color: #004990;
				font-size: 6vh;
				border-bottom: 0.6vh solid #004990;
			}
			h2{
				display: inline-block;
				font-size: 12vh;
				padding-left: 1vh;
			}
		}
		.third_line{
			.bold;
			position: absolute;
			top: 54vh;
			font-size: 6vh;
		}
	}
	.social{
		position: absolute;
		bottom: 20px;
		right: 0;
		ul{
			li{
				margin-right: 102px;
				.fb{
					color: #004990;
				}
				.inst{
					color: #DB4D45;
				}
				.mail{
					color: #508EF2;
				}
				a{
					font-size: 1.7vh;
					letter-spacing: 1.3vw;
				}
			}
		}
	}
}
section#about{
	transition: left 1s;
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100vh;
	background: #00B3E7;
	.about_us_shadow{
		position: absolute;
		.bold;
		font-size: 45vh;
		color: rgba(0, 73, 144, 0.1);
		left: 10%;
		top: -11vh;
		
	}
	.about_us{
		position: absolute;
		top: 17vh;
		left: 10%;
		.regular;
		font-size: 20vh;
		color: #fff;
		letter-spacing: 1.7vw;
	}

	.scroll_line{
		position: absolute;
		top: 44vh;
		width: 54%;
		height: 7vh;
		background: #fff;
		border-top-right-radius: 3.5vh;
		padding-right: 5%;
		padding-top: 2vh;
	}
	.scroll_line_vertical{
		overflow: hidden;
		position: absolute;
		top: 51vh;
		right: 46%;
		width: 7vh;
		height: 49vh;
		background: #fff;
		padding-top: 10vh;
		.sign_scroll_vert{
			position: absolute;
			top: 0;
			right: 45%;
			
			.black;
			font-size: 1.5vh;
			line-height: 3.2vh;

			transition: 1s;
		}
	}
	.about_cards{
		position: relative;
		display: inline-block;
		top: 53vh;
		width: 49%;
		.about_card{
			//margin-bottom: 3.2vh;
			h3{
				.bold;
				font-size: 3vh;
				color: #004180;
			}
			.about_card_text{
				.regular;
				font-size: 1.7vh;
				color: #fff;
			}
		}
	}
	.left_block{
		float: left;
		padding-left: 5%;
	}
	.right_block{
		float: right;
		padding-left: 10%;
	}
}

#our_team{
	padding-top: 80px;
}
.skill{
	width: 90%;
	margin: 0 auto;
	padding-left: 20px;
	margin-top: 10px;
	border-left: 2px solid rgba(0,0,0,.4);
	.black;
	transition: 0.3s;
}
.skill_title{
	.black;
	cursor: pointer;
	display: block;
	border: none;
	padding: 0;
	background: none;
	font-size: 1.8em;
}
.skill_list{
	overflow: hidden;
	height: 0;
	font-size: 1.2em;
	transition: 0.3s;
	line-height: 38px;
}
.skill_title.opened~.skill_list{
	visibility: visible;
	height: 400px;
	padding-top: 20px;
}

@import "media.less";