@import "fonts/fonts.less";

/*====== Preloader ======*/
.preloader{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 300;
	transition: 1s all;
	opacity: 1;
	visibility: visible;
	background-color: #fff;

	.loader{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 200px;
		height: 200px;
		text-align: center;
		transform: translate(-50%, -50%);
	}

	&.done{
		opacity: 0;
		visibility: hidden;
	}
}




/*====== Базовые настройки ======*/
body{ 
	overflow-x: hidden; 
}
*{
	margin: 0;
	box-sizing: border-box;
}

.hidden{
	display: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.half{
	width: 50%;
}
a,
button,
input{
	-moz-outline-style: none;
	outline-style: none;
}
button{
	cursor: pointer;
}
button{
	border: none;
}
a{
	color: inherit;
}
a:hover,
a:focus,
a:visited,
a:active{
	text-decoration: none;
	color: inherit;
}

ul{
	list-style: none;
	li{
		display: inline-block;
	}
}

/*====== Навбар ======*/
.nav-bg{
	position: fixed;
	//top: -100%;
	width: 100%;
	height: 8vh;
	background: #009AC7;
}
nav{
	z-index: 10;
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 10vh;
	.wrapper{
		z-index: 10;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.logo{
			transition: 0.2s;
			position: absolute;
			top: 5vh;
			left: 10%;
			display: inline-block;
			font-size: 3vh;
			.regular;
			text-transform: uppercase;
			letter-spacing: 6.78%;
		}
		.menu{
			transition: 0.2s;
			position: absolute;
			top: 5vh;
			right: 10%;
			width: 30%;
			display: inline-block;
			li{
				.bold;
				font-size: 2.3vh;
				margin-right: 3%;
				a{
					cursor: pointer;
					display: inline-block;
				}
			}
		}
	}
	.wrapper.white{
		color: #fff;
		top: 0;
		z-index: 9;
		transition: 0.2s;
		&.isScrolled{
			div,ul{
				top: 3vh;
			}
		}
		li:before{
			content: '';
			z-index: -1;
			position: absolute;
			height: 100%;
			width: 20%;
			top: 0;
			left: 5%;
			overflow: hidden;
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
			-webkit-transition: 0.2s;
			transition: 0.2s;
		}
		.current:before{
			background: #004990;
			transform: translateX(0);
			transtion: 0.2s;
		}
	}
}
/*====== Main ======*/

section#first_block{
	z-index: 7;
	position: relative;
	height: 200vh;
}

section#main_page{
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	.main_logo{
		position: absolute;
		top: 50%;
		transform: translate(-55%, -50%);
		height: 70vh;
		width: 70vh;
	}
	.main_banner{
		width: 70%;
		float: right;
		text-transform: uppercase;
		.first_line{
			display: inline-block;
			position: relative;
			top: 30vh;
			.bold;
			font-size: 14vh;
			line-height: 14vh;
			&:after{
				content: '';
				position: absolute;
				bottom: 10%;
				right: -5%;
				height: 3vh;
				width: 3vh;
				background: #00B3E7;
				border-radius: 50%;
			}
		}
		.second_line{
			position: absolute;
			top: 44vh;
			width: 100%;
			height: 7vh;
			color: #fff;
			background: #00B3E7;
			.bold;
			font-size: 7vh;
			line-height: 5.5vh;
			padding-bottom: 1vh;
			padding-left: 1%;
			&:after{
				content: '';
				width: 10%;
				height: 0.6vh;
				position: absolute;
				top: 3vh;
				margin-left: 3%;
				background: #fff;
			}
		}
		.third_line{
			.bold;
			position: absolute;
			top: 51vh;
			font-size: 6vh;
		}
	}
	.social{
		position: absolute;
		bottom: 20px;
		right: 0;
		ul{
			li{
				margin-right: 102px;
				.fb{
					color: #004990;
				}
				.inst{
					color: #DB4D45;
				}
				.mail{
					color: #508EF2;
				}
				a{
					font-size: 15px;
					letter-spacing: 19px;
				}
			}
		}
	}
}
section#about{
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100vh;
	background: #00B3E7;
	.about_us{
		position: absolute;
		top: 17vh;
		left: 12%;
		.regular;
		font-size: 20vh;
		color: #fff;
		letter-spacing: 1.7vw;
	}
}

section#second_block{
	width: 100%;
	height: 200vh;
	background: #abb88e;
}


@import "media.less";