/*====== Шрифты ======*/
@font-face {
  font-family: 'GothamProBold';
  src: url('fonts/GothamProBold.eot');
  src: url('fonts/GothamProBold.eot') format('embedded-opentype'), url('fonts/GothamProBold.woff2') format('woff2'), url('fonts/GothamProBold.woff') format('woff'), url('fonts/GothamProBold.ttf') format('truetype'), url('fonts/GothamProBold.svg#GothamProBold') format('svg');
}
@font-face {
  font-family: 'GothamProRegular';
  src: url('fonts/GothamProRegular.eot');
  src: url('fonts/GothamProRegular.eot') format('embedded-opentype'), url('fonts/GothamProRegular.woff2') format('woff2'), url('fonts/GothamProRegular.woff') format('woff'), url('fonts/GothamProRegular.ttf') format('truetype'), url('fonts/GothamProRegular.svg#GothamProRegular') format('svg');
}
@font-face {
  font-family: 'GothamProBlack';
  src: url('fonts/GothamProBlack.eot');
  src: url('fonts/GothamProBlack.eot') format('embedded-opentype'), url('fonts/GothamProBlack.woff2') format('woff2'), url('fonts/GothamProBlack.woff') format('woff'), url('fonts/GothamProBlack.ttf') format('truetype'), url('fonts/GothamProBlack.svg#GothamProBlack') format('svg');
}
.bold {
  font-family: 'GothamProBold';
}
.regular {
  font-family: 'GothamProRegular';
}
.black {
  font-family: 'GothamProBlack';
}
/*====== Preloader ======*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
  background-color: #fff;
}
.preloader .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.preloader.done {
  opacity: 0;
  visibility: hidden;
}
/*====== Базовые настройки ======*/
body {
  overflow-x: hidden;
}
* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clear::before,
.clear::after {
  content: '';
  display: table;
  clear: both;
}
.hidden {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.half {
  width: 50%;
}
.fixed {
  position: fixed;
}
a,
button,
input {
  -moz-outline-style: none;
  outline-style: none;
}
button {
  cursor: pointer;
}
button {
  border: none;
}
a {
  color: inherit;
}
a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
ul li {
  display: inline-block;
}
/*====== Баз стили ======*/
.section_title_shadow {
  position: absolute;
  font-family: 'GothamProBold';
  font-size: 23em;
  text-transform: uppercase;
  color: rgba(0, 73, 144, 0.1);
  left: 10%;
  top: -11vh;
}
.section_title {
  position: absolute;
  top: 17vh;
  left: 10%;
  font-family: 'GothamProRegular';
  font-size: 10em;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.7vw;
}
/*====== Навбар ======*/
.nav-bg {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 8vh;
  background: #009AC7;
}
nav {
  z-index: 10;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
}
nav .wrapper {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
nav .wrapper .logo {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  top: 5vh;
  left: 10%;
  display: inline-block;
  font-size: 1.8em;
  font-family: 'GothamProRegular';
  text-transform: uppercase;
  letter-spacing: 6.78%;
}
nav .wrapper .menu {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  top: 5vh;
  right: 10%;
  width: 30%;
  display: inline-block;
}
nav .wrapper .menu li {
  font-family: 'GothamProBold';
  font-size: 1.3em;
  margin-right: 3%;
}
nav .wrapper .menu li a {
  cursor: pointer;
  display: inline-block;
}
nav .wrapper.white {
  color: #fff;
  top: 0;
  z-index: 9;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
nav .wrapper.white.isScrolled div,
nav .wrapper.white.isScrolled ul {
  top: 3vh;
}
nav .wrapper.white li:before {
  content: '';
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 15%;
  top: 0;
  left: 5%;
  overflow: hidden;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
nav .wrapper.white .current:before {
  background: #004990;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  transtion: 0.2s;
}
/*====== Main ======*/
section#first_block {
  overflow: hidden;
  z-index: 7;
  position: relative;
  top: 0;
  left: 0;
  height: 200vh;
}
section#main_page {
  -webkit-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
section#main_page .main_logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-55%, -50%);
  -ms-transform: translate(-55%, -50%);
  transform: translate(-55%, -50%);
  height: 70vh;
  width: 70vh;
}
section#main_page .main_banner {
  width: 70%;
  float: right;
  text-transform: uppercase;
}
section#main_page .main_banner .first_line {
  display: inline-block;
  position: relative;
  top: 29vh;
  font-family: 'GothamProBold';
  font-size: 6.5em;
}
section#main_page .main_banner .first_line:after {
  content: '';
  position: absolute;
  bottom: 10%;
  right: -5%;
  height: 25px;
  width: 25px;
  background: #00B3E7;
  border-radius: 50%;
}
section#main_page .main_banner .second_line {
  position: relative;
  top: 31vh;
  width: 100%;
  height: 7vh;
  color: #00b3e7;
  font-family: 'GothamProBold';
  font-size: 4em;
  line-height: 5.5vh;
  padding-bottom: 1vh;
  padding-left: 1%;
}
section#main_page .main_banner .second_line h3 {
  display: inline-block;
  line-height: .5em;
  vertical-align: top;
  padding-bottom: 1.4vh;
  color: #004990;
  font-size: 0.85em;
  letter-spacing: 0.1em;
  border-bottom: 0.6vh solid #004990;
}
section#main_page .main_banner .second_line h2 {
  display: inline-block;
  font-size: 1.7em;
  padding-left: 1vh;
}
section#main_page .main_banner .second_line::after {
  content: 'scroll';
  position: absolute;
  top: 0;
  width: 20px;
  height: calc(94%);
  right: 0;
  color: #fff;
  font-size: 12px;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  padding-top: 6px;
  line-height: 20px;
  background: #00b3e7;
}
section#main_page .main_banner .third_line {
  font-family: 'GothamProBold';
  position: relative;
  top: 32vh;
  font-size: 3em;
}
section#main_page .social {
  position: absolute;
  bottom: 20px;
  right: 0;
}
section#main_page .social ul li {
  margin-right: 102px;
}
section#main_page .social ul li .fb {
  color: #004990;
}
section#main_page .social ul li .inst {
  color: #DB4D45;
}
section#main_page .social ul li .mail {
  color: #508EF2;
}
section#main_page .social ul li a {
  font-size: 1.7vh;
  letter-spacing: 1.3vw;
}
section#about {
  overflow: hidden;
  -webkit-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background: #00B3E7;
}
section#about .scroll_line {
  position: absolute;
  top: 44vh;
  width: 54%;
  height: 7vh;
  background: #fff;
  border-top-right-radius: 3.5vh;
  padding-right: 5%;
  padding-top: 2vh;
}
section#about .scroll_line .sign_scroll {
  position: fixed;
  right: -250px;
  z-index: 4;
  font-family: 'GothamProBlack';
  opacity: 0;
  font-size: 1.5vh;
  letter-spacing: 3vh;
  color: #000;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
section#about .scroll_line_vertical {
  overflow: hidden;
  position: absolute;
  top: 51vh;
  right: 46%;
  width: 7vh;
  height: 49vh;
  background: #fff;
  padding-top: 10vh;
}
section#about .scroll_line_vertical .sign_scroll_vert {
  position: absolute;
  top: 0;
  right: 45%;
  font-family: 'GothamProBlack';
  font-size: 1.5vh;
  line-height: 3.2vh;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
section#about .about_cards {
  position: relative;
  display: inline-block;
  top: 53vh;
  width: 49%;
}
section#about .about_cards .about_card {
  height: 16vh;
  opacity: 0;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
section#about .about_cards .about_card h3 {
  font-family: 'GothamProBold';
  font-size: 2em;
  color: #004180;
}
section#about .about_cards .about_card .about_card_text {
  font-family: 'GothamProRegular';
  font-size: 1em;
  color: #fff;
}
section#about .about_cards .about_card:first-of-type {
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
section#about .about_cards .about_card:nth-of-type(2) {
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
section#about .about_cards .about_card:last-of-type {
  -webkit-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
section#about .about_cards .about_card.active {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
section#about .left_block {
  float: left;
  padding-left: 5%;
}
section#about .left_block .about_card {
  -webkit-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  transform: translateX(-20%);
}
section#about .right_block {
  float: right;
  padding-left: 10%;
}
section#about .right_block .about_card {
  -webkit-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
}
#our_team_block {
  padding-top: 80px;
}
.skills_wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.skill {
  display: inline-block;
  padding-left: 20px;
  margin-top: 10px;
  border-left: 2px solid #b2b2b2;
  font-family: 'GothamProBlack';
  cursor: pointer;
  display: block;
  color: #b2b2b2;
  background: none;
  text-align: left;
  font-size: 1.8em;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.skill:hover {
  border-color: black;
  color: black;
}
.skills_wrapper input {
  display: none;
}
.skills_wrapper input:checked + label {
  color: black;
  border-color: black;
}
.skills_wrapper input:checked + .skill > .skill_list {
  color: black;
  visibility: visible;
  height: 400px;
  padding-top: 20px;
}
.skill_list {
  overflow: hidden;
  height: 0;
  font-size: 0.8em;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  line-height: 38px;
}
.our_team {
  position: relative;
  margin-top: 20vh;
  padding-top: 40vh;
}
.our_team .section_title {
  color: black;
}
.team_wrapper {
  width: 90%;
  margin: 0 auto;
}
.team_col {
  display: inline-block;
  margin-left: 80px;
}
.team_col.second_col {
  padding-top: 240px;
}
.team_card {
  overflow: hidden;
  position: relative;
  width: 350px;
  height: 350px;
  margin-bottom: 160px;
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  background: #efefef;
  -webkit-transition: 0.8s 0.1s;
  -o-transition: 0.8s 0.1s;
  transition: 0.8s 0.1s;
}
.team_card img {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.team_card.active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.team_card.active img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/*======== Адаптив ========*/
