/*====== Шрифты ======*/
@font-face {
  font-family: 'GothamProBold';
  src: url('fonts/GothamProBold.eot');
  src: url('fonts/GothamProBold.eot') format('embedded-opentype'), url('fonts/GothamProBold.woff2') format('woff2'), url('fonts/GothamProBold.woff') format('woff'), url('fonts/GothamProBold.ttf') format('truetype'), url('fonts/GothamProBold.svg#GothamProBold') format('svg');
}
@font-face {
  font-family: 'GothamProRegular';
  src: url('fonts/GothamProRegular.eot');
  src: url('fonts/GothamProRegular.eot') format('embedded-opentype'), url('fonts/GothamProRegular.woff2') format('woff2'), url('fonts/GothamProRegular.woff') format('woff'), url('fonts/GothamProRegular.ttf') format('truetype'), url('fonts/GothamProRegular.svg#GothamProRegular') format('svg');
}
@font-face {
  font-family: 'GothamProBlack';
  src: url('fonts/GothamProBlack.eot');
  src: url('fonts/GothamProBlack.eot') format('embedded-opentype'), url('fonts/GothamProBlack.woff2') format('woff2'), url('fonts/GothamProBlack.woff') format('woff'), url('fonts/GothamProBlack.ttf') format('truetype'), url('fonts/GothamProBlack.svg#GothamProBlack') format('svg');
}
.bold {
  font-family: 'GothamProBold';
}
.regular {
  font-family: 'GothamProRegular';
}
.black {
  font-family: 'GothamProBlack';
}
/*====== Preloader ======*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
  background-color: #fff;
}
.preloader .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.preloader.done {
  opacity: 0;
  visibility: hidden;
}
/*====== Базовые настройки ======*/
body {
  overflow-x: hidden;
}
* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.half {
  width: 50%;
}
a,
button,
input {
  -moz-outline-style: none;
  outline-style: none;
}
button {
  cursor: pointer;
}
button {
  border: none;
}
a {
  color: inherit;
}
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
ul li {
  display: inline-block;
}
/*====== Навбар ======*/
.nav-bg {
  position: fixed;
  width: 100%;
  height: 90px;
  background: #009AC7;
}
nav {
  z-index: 10;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
nav .wrapper {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
nav .wrapper .logo {
  position: absolute;
  top: 58px;
  left: 100px;
  display: inline-block;
  font-size: 25px;
  font-family: 'GothamProRegular';
  text-transform: uppercase;
  letter-spacing: 6.78%;
}
nav .wrapper .menu {
  position: absolute;
  top: 58px;
  right: 100px;
  display: inline-block;
}
nav .wrapper .menu li {
  font-family: 'GothamProBold';
  font-size: 20px;
  margin-left: 30px;
}
nav .wrapper .menu li a {
  display: inline-block;
}
nav .wrapper.white {
  color: #fff;
  top: 0;
  z-index: 9;
}
/*====== Main ======*/
section#first_block {
  z-index: 7;
  position: relative;
  height: 200vh;
}
section#main_page {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
section#main_page .main_logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-55%, -50%);
  -ms-transform: translate(-55%, -50%);
  transform: translate(-55%, -50%);
  height: 70vh;
  width: 70vh;
}
section#main_page .main_banner {
  width: 70%;
  margin-top: 30vh;
  float: right;
  text-transform: uppercase;
}
section#main_page .main_banner .first_line {
  display: inline-block;
  position: relative;
  font-family: 'GothamProBold';
  font-size: 150px;
  line-height: 150px;
}
section#main_page .main_banner .first_line:after {
  content: '';
  position: absolute;
  bottom: 10px;
  right: -40px;
  height: 30px;
  width: 30px;
  background: #00B3E7;
  border-radius: 50%;
}
section#main_page .main_banner .second_line {
  position: relative;
  width: 100%;
  color: #fff;
  background: #00B3E7;
  font-family: 'GothamProBold';
  font-size: 70px;
  line-height: 55px;
  padding-bottom: 10px;
  padding-left: 10px;
}
section#main_page .main_banner .second_line:after {
  content: '';
  width: 112px;
  height: 6px;
  position: absolute;
  top: 35px;
  margin-left: 30px;
  background: #fff;
}
section#main_page .main_banner .third_line {
  font-family: 'GothamProBold';
  font-size: 70px;
}
section#main_page .social {
  position: absolute;
  bottom: 20px;
  right: 0;
}
section#main_page .social ul li {
  margin-right: 102px;
}
section#main_page .social ul li .fb {
  color: #004990;
}
section#main_page .social ul li .inst {
  color: #DB4D45;
}
section#main_page .social ul li .mail {
  color: #508EF2;
}
section#main_page .social ul li a {
  font-size: 15px;
  letter-spacing: 19px;
}
section#blue {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background: #00B3E7;
}
section#second_block {
  width: 100%;
  height: 200vh;
  background: #abb88e;
}
/*======== Адаптив ========*/
