@font-face {
    font-family: 'GothamProBold';
    src: url('fonts/GothamProBold.eot');
    src: url('fonts/GothamProBold.eot') format('embedded-opentype'),
         url('fonts/GothamProBold.woff2') format('woff2'),
         url('fonts/GothamProBold.woff') format('woff'),
         url('fonts/GothamProBold.ttf') format('truetype'),
         url('fonts/GothamProBold.svg#GothamProBold') format('svg');
}
